<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Реєстрація Організації</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="register">
    <h1>Реєстрація Організації</h1>

    <form method="POST">
        <label for="organization_name">Назва організації:</label>
        <input type="text" id="organization_name" name="organization_name" required>

        <label for="admin_email">Email адміністратора:</label>
        <input type="email" id="admin_email" name="admin_email" required>

        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Зареєструвати</button>
    </form>

    <a href="{{ url_for('views.login') }}" class="alt-button">⬅ Вхід</a>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flashes">
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</body>
</html>
